
#overview{
  height: 550px;
}

#summary{
  background-color: #22B2B8;
  height: 300px;
}

#benefits{
  background-color: #003B66;
}

#headerLogo{
  padding:40px;
  display: inline;
  width:100%;
  max-width:327px;
}
/*MY SECTION BEGIN*/
#patient-section {
  background-color: #C9D8E4;
  display: inline;
}

.patient-head-div {
  position: relative;
  left: 19.5%;
  margin: 1%;
  width: 60%;
}

.patient-head-div h1{
  color: #22B2B8;
}

#patient-benefits {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  width: 60%;
}

.patientBenefit {
   width: 25%;
   margin: .5em;
   border: 1px solid  #5280A3;
   border-radius: 5px;
   background-color:  #FCFDFD ;
}

.patientBenefit > p {
  margin: 2px auto;
  padding: 2px;
  width: 90%;
  text-align: center;
}

.icon-p-below {
  padding-top: 5px;
}

.icon-div {
  margin: 8px;
  padding-top: 2px;
  text-align: center;
}

/*.circle-icon-div img {
   width: 10%;
   transform:rotate(25deg);
   transform: translateY(-5%);
}*/

/*END*/

.header{
  display: inline;
}

.link{
  padding:20px;
  display:inline;
  font-family: Arial;
  font-size: 22px;
  color: #22B2B8;
}

.navbarLinks{
  text-align: center;
  align-items: center;
  float:right;
  padding-top: 50px;
  padding-right: 30px;
}

#introText{
  font-family: Arial;
  color: #003B66;
  font-size: 60px;
  float: right;
}

#appPreview{
  width:100%;
  max-width:400px;
  flex-grow: 4;
}

.con{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.introBlock{
  display: inline-block;
  max-width: 800px;
  margin: 20px;
  margin-right: 50px;
  align-self: auto;
}

.phoneBlock{
  display: inline-block;
  margin-left: 50px;
  margin: 20px;

}

ul {
list-style: none;
}

ul li.doctorBenefit::before {
content: '✓ ';
font-size: 24px;
color: #00BFFF;
}

.doctorBenefit{
  font-size: 18px;
  color: white;
}

#circleIcon{
  position: absolute;
  height: 130px;
  left:0;
}

#croppedIcon1{
  position: absolute;
  height: 250px;
  right:0;
}
