
#overview{
  height: 550px;
}

#summary{
  background-color: #22B2B8;
  height: 300px;
}

#benefits{
  background-color: #003B66;
}

#headerLogo{
  padding:40px;
  display: inline;
  width:100%;
  max-width:327px;
}

.header{
  display: inline;
}

.link{
  padding:20px;
  display:inline;
  font-family: Arial;
  font-size: 22px;
  color: #22B2B8;
}

.navbarLinks{
  text-align: center;
  align-items: center;
  float:right;
  padding-top: 50px;
  padding-right: 30px;
}

#introText{
  font-family: Arial;
  color: #003B66;
  font-size: 60px;
  float: right;
}

#appPreview{
  width:100%;
  max-width:400px;
  flex-grow: 4;
}

.con{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.introBlock{
  display: inline-block;
  max-width: 800px;
  margin: 20px;
  margin-right: 50px;
  align-self: auto;
}

.phoneBlock{
  display: inline-block;
  margin-left: 50px;
  margin: 20px;

}

ul {
list-style: none;
}

ul li:before {
content: '✓ ';
font-size: 24px;
color: #00BFFF;
}

.doctorBenefit{
  font-size: 18px;
  color: white;
}

#circleIcon{
  position: absolute;
  height: 130px;
  left:0;
}

#croppedIcon1{
  position: absolute;
  height: 250px;
  right:0;
}
