*{
  font-family: 'Futura-PT-Book';
  font-weight:normal;
  font-style:normal;
}

#overview{
  height:75vh;
}

#summary{
  background-color: #22B2B8;
  height:64vh;
}

#benefits{
  background-color: #003B66;
  height:80vh;
}

/* #carouselAboutUs{
  background-color: grey;
  height:50vh;
} */

.carousel-item {
  height: 40vh;
  background: #777;
  color: white;
  position: relative;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 20vh;
}

/*MY SECTION BEGIN*/

.patient-section {
  background-image: url("/static/assets/icons/happy_patient.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center calc(100%-15px) ;
  display: inline-block;
  width: 100%;
}


#patient-section h1 {

  margin-top: 1%;
  margin-left: 10%;
  margin-right: 0;
  width: 20%;
  color: white;
  text-align: left;

}

#patient-benefits {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  width: 60%;
}


.patientBenefit {
   width: 25%;
   margin: .5em;
   border: 1px solid  #003B66;
   border-radius: 5px;
   background-color:  rgba(253, 254, 254, 0.5) ;
   box-shadow: 0 0 5px;
   overflow-x: hidden;
   overflow-y: hidden;
}

.patientBenefit > p {
  margin: 2px auto;
  padding: 2px;
  width: 90%;
  text-align: center;
}

.icon-p-below {
  padding-top: 3px;
  font-weight: 400;
}

.icon-div {
  margin: 8px;
  padding-top: 2px;
  text-align: center;
}

.icon-p-above {
  width: 100%;
  font-weight: 600;
  color: #003B66;
  font-size: 20px;
}



@media  screen and (max-width: 767px) {

  #patient-section h1 {
    color: #003B66;
  }

  #patient-section {
    background-color: #F5F8FA;
    background-image: none;
  }

  .patientBenefit{
    background-color: #FAFBFC;
  }
}

@media screen and (max-width: 1024px) {
  #patient-benefits {
    flex-direction: column;

  }
  .patientBenefit {
    width: 100%;
    margin: 2% auto;
    box-shadow: 2px 2px 5px;

  }

}



#introText{
  color: #003B66;
  margin-left: 17%;
  width:35%;
  font-size: 3vw;
  float:left;
  padding-top: 8%;
  margin-bottom: 10%
}

#appPreview{
  margin-right: 17%;
  float:right;
  width: 25%;
  padding-top: 1%;
}

#mobilityHubLogo{
  float: right;
  position: absolute;
  right: 0;
  width: 9%;
  margin-right: 5%;
  margin-top: 1%;
}


#summaryTitle{
  padding-bottom: 30px;
  font-size: 3vw;
}

.summaryText{
  font-size: 1.5vw;
}

#summaryTitleAndText{
  color: white;
  font-size: 25px;
  max-width: 50%;
  float:left;
  margin-left: 4%;
  margin-top: 4%;
}

#downloadButtons{
  width: 36%;
  float:right;
  margin-right: 5%;
  margin-top: 0.9%
}

.downloadButton{
  background-color: #FFAC00;
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 12px;
  color: white;
  text-align: left;
  font-size: 1.5vw;
  display: block;
}

#downloadAppIOS{
  margin-bottom: 2%;
}

ul {
  list-style: none;
  float: left;
}

ul li.doctorBenefit::before {
content: '✓ ';
font-size: 2vw;
color: #00BFFF;
}

.doctorBenefitTitle{
  color: white;
  font-size: 3vw;
  margin-top: 3%;
  margin-left: 7%;
}

.doctorBenefit{
  font-size: 1.5vw;
  color: white;
  margin-left: 15%;
}

#benefitsImage{
  float:right;
}

#circleIcon{
  width: 5%;
  left:0;
  top: 25%;
  margin-top: -20px;
}

#blob3{
  width: 8%;
  left:0;
  top: 70%;
}

#croppedIcon1{
  width: 7%;
  right:0;
  top: 35%;
}

.icons{
  position: absolute;
}




<<<<<<< Updated upstream


}
=======
>>>>>>> Stashed changes
