<!DOCTYPE html>
<html lang="en" dir="ltr">

  <style>

    #titleBar{
      text-align: center;
      color: #22B2B8;
      padding: 10px;
      font-size: 20px;
    }

    .widget{
      background-color: #22B2B8;
      border-radius: 5px;
      margin: 10px;
      width:auto;
      color: white;
      display: inline-block;
      padding: 20px;
    }

    #addPostButton{
      font-size: 16px;
      margin-top: 10px;
    }

    #titleInput{
      width: 50%;
    }

    h2{
      font-size: 2.5vw;
      text-align: center;
    }

    #existingPosts{
      vertical-align:top;
      max-width: 100%;
    }

    #messageColumn{

    }

    table{
      border: 1px solid white;
    }

    table{
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
    }

  </style>

  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link href="/static/fonts/futura-pt-book/stylesheet.css" rel="stylesheet">
    <title></title>
  </head>

  <header>
    <div id="nav-placeholder"></div>
    <div id="titleBar">
      <h1>Site management</h1>
    <div>
  </header>

  <body>
    <div id="newBlogPost" class="widget">
      <h2>Add a new blog post</h2>

      <form id="uploadImage"  method=post enctype=multipart/form-data>
        <label>Image: </label>
        <input type=file name=file id="fileInput">
        <button id="uploadFileButton" type="button">Upload</button>
        <span id='uploadMessage'></span>
      </form>

      <form id='addBlogPost' onsubmit="return loadPost()">
        <br><label>Title: <input type = "text" name = "title" id="titleInput"><br></label><br>
        <textarea name="message" rows="5" cols="65"></textarea><br>
        <button id="addPostButton" type = "submit"> Add Post </button>
      </form>
      <span id='txt'></span>
    </div>


    <div id="existingPosts" class="widget">
      <h2>Existing Posts</h2>
      {%block mainBlock%}
      <table>
         <thead>
            <td>ID</td>
            <td>Date</td>
            <td>Title</td>
            <td id="messageColumn">Message</td>
         </thead>

         {% for row in data %}
            <tr>
              <td>{{row[0]}}</td>
              <td>{{row[1]}}</td>
              <td>{{row[2]}}</td>
              <td>{{row[3]}}</td>
              <td><button type="button" onclick="return deletePost({{row[0]}})">Delete</button></td>
            </tr>
         {% endfor %}
      </table>
      {%endblock%}
    </div>

    <!-- ALAN'S STUFF -->

    <div id="newBenefit" class="widget">
      <h2>Add a patient benefit </h2>

      <form id="benefitImageUpload" method=post enctype=multipart/form-data>
        <label>Image: </label>
        <input type=file name=file id="benefitInput">
        <button id="benefitUploadFileButton" type="button">Upload</button>
        <span id='uploadBenefit'></span>
      </form>

      <form id='addBenefit' onsubmit="return sendBenefit()">
        <br><label>Title: <input type = "text" name = "benefitTitle" id="benefitTitleInput"><br></label><br>
        <textarea name="benefitMessage" rows="5" cols="65"></textarea><br>
        <button id="addBenefitPostButton" type = "submit"> Add Benefit </button>
      </form>
      <span id='benefitTxt'></span>

    <!-- END-->

    <script>
    $(function(){
      $("#nav-placeholder").load("/static/navBar.html");
    </script>

    <script>
      function loadPost() {
        var image = document.forms["uploadImage"]["fileInput"].files.item(0).name;
        var title = document.forms["addBlogPost"]["title"].value;
        var message = document.forms["addBlogPost"]["message"].value;
        params = 'title='+title+'&message='+message+'&image='+image;
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/blog/management/add', true); // true is asynchronous
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.onload = function() {
          if (xhttp.readyState === 4 && xhttp.status === 200) {
            console.log(xhttp.responseText);
            document.getElementById("txt").innerHTML = xhttp.responseText;
          } else {
            console.error(xhttp.statusText);
          }
        };
        xhttp.send(params);
        return false;
      }
    </script>

    <script>

    $(function() {
      $('#uploadFileButton').click(function() {
          var form_data = new FormData($('#uploadImage')[0]);
          $.ajax({
              type: 'POST',
              url: '/blog/management/media',
              data: form_data,
              contentType: false,
              cache: false,
              processData: false,
              success: function(data) {
                  document.getElementById("uploadMessage").innerHTML = "✓";
              },
          });
      });
  });

  //send benefit images to 'uploads' folder
       $(function() {
         $('#benefitUploadFileButton').click(function() {
             var form_data = new FormData($('#benefitImageUpload')[0]);
             $.ajax({
                 type: 'POST',
                 url: '/blog/management/media',
                 data: form_data,
                 contentType: false,
                 cache: false,
                 processData: false,
                 success: function(data) {
                     document.getElementById("uploadBenefit").innerHTML = "✓";
                 },
             });
         });
     });

  </script>

    <script>
      function deletePost(id) {
        console.log(id);
        params = 'id='+id;
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/blog/management/delete', true); // true is asynchronous
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.onload = function() {
          if (xhttp.readyState === 4 && xhttp.status === 200) {
            console.log(xhttp.responseText);
          } else {
            console.error(xhttp.statusText);
          }
        };
        xhttp.send(params);
        location.reload();
        return false;
      }
    </script>

    <!--alans-->

    <script>
  //Ajax request sending benefit form data to server - modified from will's code
    function sendBenefit() {
      var benImage = document.forms["benefitImageUpload"]["benefitInput"].files.item(0).name;
      var benTitle = document.forms["addBenefit"]["benefitTitle"].value;
      var benMessage = document.forms["addBenefit"]["benefitMessage"].value;
      benParams = 'title='+benTitle+'&message='+benMessage+'&image='+benImage;
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", '/benefit/management', true); // true is asynchronous
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.onload = function() {
        if (this.readyState === 4 && this.status === 200) {
          console.log(xhttp.responseText);
          document.getElementById("benefitTxt").innerHTML = xhttp.responseText;
        } else {
          console.error(xhttp.statusText);
        }
      };
      xhttp.send(benParams);
      return false;
    }

  </script>
  </body>

</html>
